
{% extends "mysite/base.html" %}
{% load static %}

{% block body %}
    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image"
             style="background-image: url({% static 'mysite/images/6.png' %});" id="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="text-white font-weight-bold">Apply for Job</h1>
                    <div class="custom-breadcrumbs">
                        <a href="#">Home</a> <span class="mx-2 slash">/</span>
                        <span class="text-white"><strong>{{ company_name }}</strong></span>
                        <span class="text-white mx-2 slash">/</span>
                        <span class="text-white"><strong>{{ title }}</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="site-section" id="next-section">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h3 class="text-lack font-weight-bold ">Apply for the Job</h3>
                    <br>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-black font-weight-bold" for="name">Full Name</label>
                                <input type="text" id="name" name="name" class="form-control" required>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-black font-weight-bold" for="email">Email</label>
                                <input type="email" id="email" name="email" class="form-control" required>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-black font-weight-bold" for="gender">Gender</label>
                                <select class="selectpicker border rounded" id="gender" name="gender" data-style="btn-black"
                                        data-width="100%" data-live-search="true" title="Select Gender" required>
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>
                        </div>


                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-black font-weight-bold" for="experience">Experience Year</label>
                                <input type="number" id="experience" name="experience" placeholder="0.0" required>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-black font-weight-bold" for="coverletter">Coverletter</label>
                                <textarea name="coverletter" id="coverletter" cols="30" rows="7" class="form-control"
                                          placeholder="Write your notes or questions here..."></textarea>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button type="button" id="cv-upload-button">
                                        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="custom-file">
                                    <label class="custom-file-label font-weight-bold" for="cv">Upload CV</label>
                                    <input type="file" class="custom-file-input" id="cv" name="cv"
                                           aria-describedby="inputGroupFileAddon03" required>
                                </div>
                            </div>
                        </div>


                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Submit" class="btn btn-primary btn-md text-white">
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>



{% endblock body %}